---
- name: Install / Upgrade Palette Insight-server
  hosts: "{{ channel | default('insight-server') }}"
  remote_user: "{{ uservar }}"
  become: yes
  become_user: root
  vars:
    num_segments: 4
  roles:
    - common
    - xfs-init
    - tmpfs
    - palette-dev-tools
    - nginx
    - supervisor
    - splunkforwarder
    # - golang
    - greenplum
    - insight-server
    - greenplum-data
    - insight-loadtables
    - insight-services-webui
    - sanity-check
