- name: Calc Greenplum virtual memory protection limit
  script: "gp_vmem_protect_limit.sh {{num_segments or 4}} {{ greenplum_other_mem }}"
  register: gp_vmem_protect_limit_amt

- name: Setting Greenplum virtual memory protection limit
  shell: bash -lc "gpconfig -c gp_vmem_protect_limit -v {{ gp_vmem_protect_limit_amt.stdout_lines[0] }}"
  become: yes
  become_user: "{{ greenplum_user }}"


- name: Tune Greenplum using gpconfig
  shell: bash -lc "gpconfig -c {{ item.key }} -v {{ item.value }}"
  become: yes
  become_user: "{{ greenplum_user }}"
  with_dict: "{{ greenplum_config }}"
  notify:
    - Reload greenplum config

